<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/20185/Desktop/Computer Sciences/CS_FirstYear/css/globally.css" />
    <title>Create Lobby</title>
</head>
<body>
    <div class="center-div">
        <h1>Create Lobby</h1>
        
        <div>
            <h3 class="label">Host Username</h3>
            <input class="input input-large" placeholder="Host Username" />
        </div>

        <div style="display: flex; gap: 1rem;">
            <div>
                <h3 class="label">Levels</h3>
                <input type="text" class="input input-small" placeholder="Levels"/>
            </div>
            <div>
                <h3 class="label">Power Ups</h3>
                <input type="text" class="input input-medium" placeholder="Tags like input" />
            </div>
        </div>

        <div style="display: flex; gap: 1rem; margin-top: 1rem;">
            <button class="button button-danger button-medium">Leave</button>
            <button class="button button-primary button-medium">Confirm</button>
        </div>
    </div>
</body>
</html>