:root {

      /* CSS HEX */
    --yellow: #F6FD1Dff;
    --neon-blue: #4E69FDff;
    --aquamarine: #50FFAFff;
    --bittersweet: #FF4D4Dff;
    --tropical-indigo: #9C7BFFff;

    --black: #000;
    --box-shadow-large: 0.5rem 0.5rem 0 0 var(--black);
    --box-shadow-medium: 0.25rem 0.25rem 0 0 var(--black);
    --box-shadow-small: 0.125rem 0.125rem 0 0 var(--black);
    --border-thick: 0.25rem solid var(--black);
    --border-thin: 0.1rem solid var(--black);
    --border-thin-gray: 0.1rem solid gray;
    --headline-container-background: #F24C00;
    --page-background: #50FFAFff;
    --page-background-alternative: #F9E900;
    --container-background-primary: #EDDFEF;
    --container-background-secondary: #F9C784;
    --button-primary-color: #A6FAFF;
    --button-danger-color: #FF6B6B;
    --h1-size: 2rem;
    --headline-font-size: 1.5rem;
    --h1-weight: 800;

    --section-header-font-size: 1.5rem;
    --section-header-weight: 700;

    --button-large-width: 25rem;
    --button-medium-width: 12.5rem;
    --button-small-width: 8rem;

    --input-large-width: 25rem;
    --input-medium-width: 12.5rem;
    --input-small-width: 8rem;

    --border-radius: 0.8rem;
}


@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@-moz-keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@-o-keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}



.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
    max-width: 100%;
    height: calc(100vh - 8rem);
    height: calc(-webkit-fill-available - 4rem);
    padding: 2rem;
    font-family: "IBM Plex Mono", monospace, Arial, Helvetica, sans-serif;
    background-color: var(--page-background);
    background-image: url("/public/assets/background.png");
}

input {
    font-family: "IBM Plex Mono", monospace, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.75rem;
    border: var(--border-thin);
    box-shadow: var(--box-shadow-small);
    margin: 0.5rem 0;
    max-width: 80vw;
    min-height: 2rem;
    border-radius: var(--border-radius);
}

button {
    font-family: "IBM Plex Mono", monospace, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    border: var(--border-thin);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
    margin: 1rem 0;
    border-radius: var(--border-radius);
    max-width: 80vw;
    min-height: 3rem;
    background-color: var(--tropical-indigo);
    color: black;
}

button:active {
    box-shadow: none;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100%;
    min-width: 100%;
}

.button {
    border: var(--border-thin);
    box-shadow: var(--box-shadow-small);
    padding: 0.5rem;
    cursor: pointer;
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.button:active {
    box-shadow: none;
}

.button-primary {
    background-color: var(--button-primary-color);
}

.button-danger {
    background-color: var(--button-danger-color);
}

.button-large {
    width: var(--button-large-width);
}

.button-medium {
    width: var(--button-medium-width)
}

.button-small {
    width: var(--button-small-width);
}

.button-tiny {
    width: auto;
    height: 0.75rem;
    font-size: 0.75rem;
    vertical-align: middle;
    text-align: center;
    text-align: center; 
    line-height: 0.2rem;
}

.input {
    border: var(--border-thin);
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.input-large {
    width: var(--input-large-width);
}

.input-medium {
    width: var(--input-medium-width)
}

.input-small {
    width: var(--input-small-width);
}
.label {
    font-size: 0.8rem;
    font-weight: 700;
}

.alternate-background {
    background-color: var(--page-background-alternative);
}

.header-container {
    background-color: var(--headline-container-background);
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow-large);
    border: var(--border-thick);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container > h1 {
    font-size: var(--headline-font-size);
}

.spectator-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
}

.spectator-map-container {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--page-background);
  box-shadow: var(--box-shadow-medium);
  border: var(--border-thick);
  width: 100%;
  height: 100%;
  max-width: 45vw;
  max-height: 73vh;
}

.spectator-game-stats-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: var(--container-background-primary);
  box-shadow: var(--box-shadow-medium);
  border: var(--border-thick);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;

  padding-right: 1rem;
  padding-top: 1rem;
  width: 90%;

  padding: 1rem;

  max-height: 30vh;
  overflow: auto;
}

.spectator-game-stats-container > div {
  width: 100%;
  height: 100%;
}

.game-stats-section-header {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.qr-code-container {

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  box-shadow: var(--box-shadow-medium);
  border: var(--border-thick);
  /* aspect-ratio: 1 / 1; */
  min-height: 6rem;
  min-width: 6rem;
  height: 6rem;
  width: 6rem;
  max-height: 6rem;
  max-width: 6rem;
}

.game-stats-players-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.spectator-active-matches-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: var(--container-background-secondary);
  box-shadow: var(--box-shadow-medium);
  border: var(--border-thick);
  width: 90%;
  max-height: 30vh;
  padding: 1rem;
  overflow: auto;
}

section > h2 {
  font-size: var(--section-header-font-size);
  font-weight: var(--section-header-weight);
}

div > h2 {
  font-size: var(--section-header-font-size);
  font-weight: var(--section-header-weight);
  margin: 0;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
}

table td, table th {
  border-bottom: var(--border-thin-gray);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.game-stats-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
}

.game-stats-table td, .game-stats-table th {
  border-bottom: var(--border-thin-gray);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.game-stats-table th {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: gray;
}

.active-games-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
}

.active-games-table td, .active-games-table th {
  border-bottom: var(--border-thin-gray);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.active-games-table th {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  color: gray;
}

.overflow-table {
  overflow: auto;
}

.logo-container-sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--yellow);
  box-shadow: var(--box-shadow-large);
  border: var(--border-thick);
  border-radius: var(--border-radius);
  height: 30vh;
  width: 100%;
}

.logo-container-sign-in-page > img {
  height: 75%;
  width: auto;
}


.signin-page-container > img {
  width: 5rem;
  height: 5rem;
  position: absolute;

  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.signin-page-container > img:nth-child(1) {
  top: calc(10%);
  left: calc(10%);
  scale: 1.5;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 0 var(--neon-blue))
                drop-shadow(-2px 2px 0 var(--neon-blue))
                drop-shadow(2px -2px 0 var(--neon-blue))
                drop-shadow(-2px -2px 0 var(--neon-blue))
                drop-shadow(0 0 0px var(--neon-blue));

  filter: drop-shadow(2px 2px 0 var(--neon-blue))
          drop-shadow(-2px 2px 0 var(--neon-blue))
          drop-shadow(2px -2px 0 var(--neon-blue))
          drop-shadow(-2px -2px 0 var(--neon-blue))
          drop-shadow(0 0 0px var(--neon-blue));

  rotate: 1turn;

  /* bounce up and down infinitely */
  -webkit-animation: bounce 10s infinite;
  -moz-animation: bounce 10s infinite;
  -o-animation: bounce 10s infinite;
  animation: bounce 10s infinite;
}

.signin-page-container > img:nth-child(2) {
  top: 20%;
  right: 5%;
  scale: 1.5;
  z-index: 0;

  -webkit-filter: drop-shadow(2px 2px 0 var(--tropical-indigo))
                drop-shadow(-2px 2px 0 var(--tropical-indigo))
                drop-shadow(2px -2px 0 var(--tropical-indigo))
                drop-shadow(-2px -2px 0 var(--tropical-indigo))
                drop-shadow(0 0 0px var(--tropical-indigo));

  filter: drop-shadow(2px 2px 0 var(--tropical-indigo))
          drop-shadow(-2px 2px 0 var(--tropical-indigo))
          drop-shadow(2px -2px 0 var(--tropical-indigo))
          drop-shadow(-2px -2px 0 var(--tropical-indigo))
          drop-shadow(0 0 0px var(--tropical-indigo));

  rotate: 1.8turn;
}

.signin-page-container > img:nth-child(3) {
  bottom: 0%;
  left: 5%;
  scale: 3;
  z-index: -1;

  -webkit-filter: drop-shadow(2px 2px 0 var(--bittersweet))
                drop-shadow(-2px 2px 0 var(--bittersweet))
                drop-shadow(2px -2px 0 var(--bittersweet))
                drop-shadow(-2px -2px 0 var(--bittersweet))
                drop-shadow(0 0 0px var(--bittersweet));

  filter: drop-shadow(2px 2px 0 var(--bittersweet))
          drop-shadow(-2px 2px 0 var(--bittersweet))
          drop-shadow(2px -2px 0 var(--bittersweet))
          drop-shadow(-2px -2px 0 var(--bittersweet))
          drop-shadow(0 0 0px var(--bittersweet));


  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

.button-with-image {
  position: relative;
}

.button-with-image > img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 0%;
  right: -5%;

  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.button-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.5rem;
  margin-bottom: -0.2rem;
}

.join-prompt {
  background-color: var(--yellow);
  box-shadow: var(--box-shadow-large);
  border: var(--border-thick);
  border-radius: var(--border-radius);
  max-width: 95vw;
  max-heght: 40vh;
  height: 20vh;
  min-height: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.join-prompt > h1 {
  text-align: center;
}

.join-or-create-page > img {
  /* cover image */
  width: 20vh;
  height: 20vh;
  position: absolute;
  top: 20vh;
  left: 0;

  /* filter */
  -webkit-filter: drop-shadow(2px 2px 0 var(--black))
                drop-shadow(-2px 2px 0 var(--black))
                drop-shadow(2px -2px 0 var(--black))
                drop-shadow(-2px -2px 0 var(--black))
                drop-shadow(0 0 0px var(--black));

  filter: drop-shadow(2px 2px 0 var(--black))
          drop-shadow(-2px 2px 0 var(--black))
          drop-shadow(2px -2px 0 var(--black))
          drop-shadow(-2px -2px 0 var(--black))
          drop-shadow(0 0 0px var(--black));


}

.host-page-container > img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 6rem;
  height: 6rem;

  z-index: 1;
  -webkit-filter: drop-shadow(2px 2px 0 black)
                drop-shadow(-2px 2px 0 black)
                drop-shadow(2px -2px 0 black)
                drop-shadow(-2px -2px 0 black)
                drop-shadow(0 0 0px black);

  filter: drop-shadow(2px 2px 0 black)
          drop-shadow(-2px 2px 0 black)
          drop-shadow(2px -2px 0 black)
          drop-shadow(-2px -2px 0 black)
          drop-shadow(0 0 0px black);

  rotate: 1turn;

  /* bounce up and down infinitely */
  -webkit-animation: spin 15s infinite;
  -moz-animation: spin 15s infinite;
  -o-animation: spin 15s infinite;
  animation: spin 15s infinite;
}

.right-aligned-button-group {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.lobby-player-list-container {
  width: 100%;
}

.lobby-player-list-item {
  background-color: var(--container-background-primary);
  box-shadow: var(--box-shadow-medium);
  border: var(--border-thick);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}

.lobby-player-list-item-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.lobby-player-list-item-username {
  font-size: 1.5rem;
  font-weight: 700;
}

.kick-player-button {
  width: 3rem;
  height: 3rem;
}

.kick-player-button > svg {
  width: 100%;
  height: 100%;
}

.ready {
  background-color: var(--neon-blue);
}

.join-screen {
  width: 100%;
}

.join-screen > * {
  width: 85%;
}