<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/globals.css" />
    <script src="/socket.io/socket.io.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
    </style>
    <title>Create Lobby</title>
  </head>
  <body>
    <div class="center-div">
      <h1>Create Lobby</h1>
      <form action="/create" method="post">
        <div>
          <h3 class="label">Session Name</h3>
          <input
            class="input input-large"
            placeholder="Session Name"
            id="sessionName"
            name="sessionName"
          />
        </div>

        <div style="display: flex; gap: 1rem; margin-top: 1rem">
          <a href="/" class="button button-danger button-medium"> Leave </a>
          <button class="button button-primary button-medium" type="submit">
            Confirm
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
