<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/globals.css" />
    <script src="/public/js/socket.js" type="module"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
    </style>
    <title>Enter Lobby</title>
  </head>
  <body>
    <main class="center-div signin-page-container">
      <img src="/public/assets/brutalism/Brutalist 82.png" alt="random-icon" />
      <img src="/public/assets/brutalism/Brutalist 79.png" alt="random-icon" />
      <div class="logo-container-sign-in-page">
        <h1>Join Lobby</h1>
      </div>
      <div>
          <input
            placeholder="Lobby Code"
            id="sessionId"
            class="input input-large"
          />
      </div>

      <div class="right-aligned-button-group">
        <button id="joinButton" class="">
          Join
        </button>
        <a href="/">
          <button class="button-danger">Leave</button>
          </a>
      </div>
      <script>
        function joinGame() {
          const sessionId = document.getElementById("sessionId")?.value;
          if (sessionId) {
            window.location.pathname = `/lobby/${sessionId}`;
          }
        }

                      document.getElementById("joinButton").addEventListener("click", joinGame);
                    </script>
    </main>
  </body>
</html>
