<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/globals.css" />
  </head>
  <body>
    <main class="center-div">
      <h1>Sign In</h1>
      <form action="/signin" method="post">
        <input
          type="text"
          placeholder="Username"
          class="input input-large"
          id="username"
          name="username"
        />
        <button type="submit">Confirm</button>
      </form>
    </main>
  </body>
</html>
