<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/globals.css" />
  </head>
  <body>
    <main class="center-div signin-page-container">
      <img src="/public/assets/brutalism/Brutalist 78.png" alt="random-icon" />
      <img src="/public/assets/brutalism/Brutalist 79.png" alt="random-icon" />
      <img src="/public/assets/brutalism/Brutalist 82.png" alt="random-icon" />
      <div class="logo-container-sign-in-page">
        <img src="/public/assets/jiroquest-logo.png" alt="logo" />
      </div>
      <form action="/signin" method="post">
        <input
          type="text"
          placeholder="Username"
          class="input input-large"
          id="username"
          name="username"
        />
        <button type="submit">Confirm</button>
      </form>
    </main>
  </body>
</html>
