<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/signin.js" type="module"></script>
  </head>
  <body>
    <main class="center-div">
      <h1>Sign In</h1>
      <input
        type="text"
        placeholder="Username"
        class="input input-large"
        id="username"
        name="username"
      />
      <button id="confirm-username-button">Confirm</button>
    </main>
  </body>
</html>
