<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/css/globals.css">
    <title>You Lose</title>
</head>

<body class="lose-background">
    <main class="center-div">
        <div class="join-prompt vertical">
            <h1>🥲 You Lose! 😭</h1>
        </div>
        <div class="">
            <button class="button-large" onclick="window.location.href='/';">Home</button>
        </div>
    </main>
</body>

</html>