<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/globals.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="center-div">
      <div class="join-prompt"
        style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h1 style="font-size: 3rem;">404</h1>
        <h2 style="font-size: 2rem; text-align: center;">Lobby not found</h2>
      </div>
      <form action="/join" method="get">
        <button type="submit" style="margin-top: 2rem;" class="button-large">Back to Join</button>
    </main>
  </body>
</html>
