<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/20185/Desktop/Computer Sciences/CS_FirstYear/css/globally.css" />
    <title>Enter Lobby</title>
</head>
<body>
    <div class="center-div">
        <h1>Enter Lobby</h1>
        
        <div>
            <h3 class="label">Lobby Code</h3>
            <input class="input input-large" placeholder="Lobby Code" />
        </div>

        <div>
            <h3 class="label">Username</h3>
            <input class="input input-large" placeholder="Username"/>
        </div>

        <div style="display: flex; gap: 1rem; margin-top: 1rem;">
            <button class="button button-danger button-medium">Leave</button>
            <button class="button button-primary button-medium">Join</button>
        </div>
    </div>
</body>
</html>